version: '3.9'

services:
  api:
    build: .
    container_name: flask_api
    ports:
      - "1313:1313"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
    command: python app.py
