name: Desafio Final

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    name: 1. Testar Aplicação
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar dependências
        run: pip install -r requirements.txt

      - name: Rodar testes unitários
        run: python test_app.py

  build:
    name: 2. Build e Push da Imagem Docker
    needs: test
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build e Push 
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ github.repository.name }}:latest

  deploy:
    name: 3. Deploy no Render
    needs: build
    runs-on: ubuntu-latest
    
    # A chave 'steps:' estava faltando aqui
    steps:
      - name: Acionar Deploy Hook no Render
        run: |
          curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"
          echo "Sinal de deploy enviado ao Render."